#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

img {
  width: 66.666%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

section {
  width: 100%;
  max-width: 32rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
}



.inline-list {
  display: inline-block;
  text-align: left;
}

